* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #3b1c32;
  align-items: center;
  justify-content: center;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fcf6bd;
  font-size: 35px;
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-box1 {
  width: 22%;
  margin: 60px 20px;
  height: 80%;
  padding: 5px 35px;
  padding-right: 10px;
  border: 1px solid wheat;
  background-color: #c5866f;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(1, 54, 70);
}

a:hover {
  color: wheat;
  text-decoration: underline;
}

li {
  padding: 1px 0;
}

.content-box2 {
  width: 65%;
  margin: 60px 20px;
  margin-left: 10px;
  padding: 7px 14px;
  border: 1px solid wheat;
  background-color: #c5866f;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
}

.content-box3 {
  width: 95%;
  margin: 10px 10px;
  font-size: 16px;
}

.content-box3 a {
  font-size: 20px;
  text-decoration: underline;
}

.content-box3 ul {
  padding-left: 20px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3b1c32;
}

.footer-heading {
  color: #fcf6bd;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  nav .logo {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-box1 {
    display: none;
  }

  .content-box2 {
    width: 85%;
    margin: 40px 30px;
    font-size: 14px;
  }
}
