* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #3b1c32;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: wheat;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  background-color: #3b1c32;
  text-align: center;
  box-sizing: border-box;
  float: left;
  text-decoration: none;
  font-weight: 700;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: wheat;
  font-size: 16px;
}

nav ul li a.active,
nav ul li a:hover {
  background: #c5866f;
  color: #fff;
  transition: 0.5s;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-misc {
  width: 22%;
  margin: 60px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-box1 {
  width: 100%;
  margin: 0 20px;
  height: 300px;
  padding: 5px 35px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 6px #3b1c32;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box2 {
  margin-top: 50px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: rgb(1, 54, 70);
}

.link:hover {
  color: wheat;
  text-decoration: underline;
}

.img-timer {
  border-radius: 70%;
  height: 230px;
}

.img-margin {
  border-radius: 10%;
  height: 190px;
}

.img-link {
  margin-top: 30px;
}

.link1 {
  text-decoration: none;
  font-size: 20px;
  border: 1px solid wheat;
  background-color: #3b1c32;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  color: wheat;
  padding: 5px 8px;
}

.link1:hover {
  background-color: #c5866f;
}

.content-box2 {
  width: 65%;
  margin: 60px 20px;
  margin-left: 10px;
  padding: 7px 14px;
  border: 1px solid wheat;
  background-color: #c5866f;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
}

.content-box3 {
  width: 95%;
  margin: 10px 10px;
  font-size: 16px;
}

.content-box3 .link {
  font-size: 20px;
  text-decoration: underline;
}

.content-box3 ul {
  padding-left: 20px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3b1c32;
}

.footer-heading {
  color: wheat;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  nav .logo {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-misc {
    width: 85%;
  }

  .content-box2 {
    width: 85%;
    margin: 50px 30px;
    margin-top: 0;
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: wheat;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #3b1c32;
  }

  .menu-toggle ::before {
    content: '\f0c9';
    line-height: 40px;
  }

  .menu-toggle.active ::before {
    content: '\f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul a {
    margin: 0;
  }
}

@media (max-width: 430px) {
  .logo {
    font-size: 28px;
  }
}

@media (max-width: 365px) {
  .logo {
    font-size: 26px;
  }

  .menu-toggle {
    height: 36px;
    width: 36px;
    font-size: 24px;
    text-align: center;
  }
}
